<section class="text-white">
    <div class="container h-100">
        <div class="d-flex justify-content-center align-items-center flex-column h-100">
            <header class="d-flex justify-content-center align-items-center flex-column text-center">
                <h2 class="pt-5">about section</h2>
                <span class="icon-wrapper w-100">
                    <i class="fa-solid fa-star"></i>
                </span>
            </header>
            <div class="d-flex justify-content-between gap-2 mt-4">
                <div>
                    <p>
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files
                        including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </p>
                </div>
                <div>
                    <p>
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files
                        including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>