<section class="pt-5">
    <div class="container pt-5">
        <div class="d-flex flex-column justify-content-center align-items-center py-5">
            <div>
                <img src="assets/images/avataaars.svg" class="d-block w-100" alt="Avatar Image">
            </div>
            <header class="d-flex flex-column text-center text-white gap-4 mt-5">
                <h2 class="fw-bold mb-0">Start Framework</h2>
                <span class="icon-wrapper">
                    <i class="fa-solid fa-star"></i>
                </span>
                <p>Graphic Artist - Web Designer - Illustrator</p>
            </header>
        </div>
    </div>
</section>